<!DOCTYPE html>
<html>
  <head>
    <title>Currency Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

  <hr>
  <a href="about">About this Site</a>

  </body>
</html>
